.login-img, .reg-img {
  border: 1px solid rgba(255, 196, 0, 0.952);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 5px 3px 3px 3px;
}

.reg-form-btn {
  width: 100%;
}